@charset "UTF-8";
body, p, dl, dd, ul, ol, li, div, h1, h2, h3, h4, h5, h6, form, input, table, tr, td {
  margin: 0;
  padding: 0; }

/*header*/
/*container*/
.container_Ste {
  width: 100%; }

.container_Top {
  width: 1280px;
  height: 52px;
  margin: 0 auto;
  background: #eaeaea; }

.ulsList {
  list-style: none;
  float: right;
  position: absolute;
  right: 240px; }

.ulsList a {
  text-decoration: none;
  color: #000000; }

.ulsList li {
  float: left;
  margin-right: 10px;
  margin-top: 24px; }

.ulsList .jiantou {
  margin-bottom: 4px; }

.ulsList a:hover {
  color: red; }

.ulsList li:hover {
  color: red; }

.container_Middle {
  width: 100%;
  height: 52px; }

.children {
  width: 1280px;
  height: 52px;
  background: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.container_Middle a {
  overflow: hidden; }

.container_Middle .horse {
  width: 71px;
  height: 69px;
  position: absolute;
  left: -70px;
  top: -11px; }

.ulLeft {
  width: 333px;
  height: 50px;
  margin-left: 250px;
  position: relative; }

.ulLeft a {
  width: 47.5px;
  height: 52px;
  display: block;
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  line-height: 50px;
  float: left;
  text-align: center; }

.ulLeft a:hover {
  color: white;
  background: red; }

/*二级菜单*/
.twoList {
  width: 1280px;
  height: 682px;
  position: absolute;
  background: white;
  left: -250px;
  top: 52px;
  z-index: 4; }

.twoList {
  display: none; }

.ulLeft a:hover .twoList {
  display: block; }

.twoList_left {
  width: 240px;
  height: 682px;
  /*background: pink;*/
  margin-left: 153px;
  float: left; }

.shelves {
  padding-top: 20px; }

.shelves h6 {
  font-size: 18px;
  color: #333333; }

.twoList_left .series {
  background: url(../img/44.png);
  height: 1px;
  width: 175px;
  text-align: center;
  margin-left: 34px;
  margin-top: 5px; }

.lgnite {
  width: 212px;
  height: 682px;
  /*background:skyblue;*/
  float: left; }

.lgnite h6 {
  font-size: 18px;
  color: #333333;
  margin-top: 16px; }

.series_list {
  background: url(../img/44.png);
  height: 1px;
  width: 115px;
  text-align: center;
  margin-left: 47px;
  margin-top: 5px; }

.partics {
  list-style: none; }

.partics li {
  font-size: 12px;
  color: #050505;
  line-height: 38px; }

.partics li:first-child {
  color: #050505; }

.twoList_Middle {
  margin-left: 163px;
  height: 585px; }

.twoList .threeList_Left {
  width: 183px;
  height: 585px;
  /*background: gray;*/
  float: left; }

.Sportstyle {
  width: 155px;
  padding-top: 44px;
  float: left; }

.twoList_Left h5 {
  font-size: 18px;
  color: #333333;
  line-height: 22px; }

.mental {
  background: url(../img/44.png);
  width: 100px;
  height: 1px;
  margin-top: 20px;
  margin-left: 35px; }

.leisure {
  list-style: none;
  margin-top: 10px; }

.leisure li {
  font-size: 12px;
  color: #050505;
  line-height: 32px; }

.leisure li:nth-child(1) {
  color: #050505; }

.leisure img {
  width: 50px;
  height: 50px;
  padding-left: 20px; }

.club {
  margin-left: 10px;
  margin-top: 24px; }

.club p {
  font-size: 10px;
  line-height: 5px; }

.ferrari {
  margin-top: 24px; }

.three .women {
  width: 50px;
  height: 50px; }

.three h5 {
  line-height: 5px; }

.lama {
  margin-left: -400px;
  line-height: 5px; }

.lama img {
  margin-top: 36px;
  padding-left: 40px; }

.ulLeft .ulSale {
  color: red; }

.ulRight {
  display: flex; }

.ulRight .online_Service {
  text-decoration: none; }

.ulRight h3 {
  color: #ff0000;
  font-weight: 100;
  font-size: 16px;
  margin-top: 18px; }

.ulRight .message {
  margin-left: 10px;
  margin-top: 14px; }

.ulRight .search {
  margin-left: 10px;
  margin-top: 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #eaeaea;
  width: 171px;
  height: 25px;
  color: #8a8a8a;
  border: 1px solid #e5e5e5;
  border-right: none;
  float: left;
  vertical-align: middle;
  outline: none; }

.ulRight .hunt_For {
  border: 1px solid #f4f4f4;
  float: left;
  border-left: none;
  width: 42px;
  height: 29px;
  background: url(../img/5.png);
  text-indent: -1000px;
  vertical-align: middle;
  outline: none;
  margin-top: 11px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 10px; }

.ulRight .shopping_Car {
  margin-left: 2px; }

/*二级菜单*/
.container_Bottom {
  width: 100%;
  height: 40px; }

.sever {
  width: 1280px;
  height: 40px;
  background: #383838;
  margin: 0 auto;
  position: relative; }

.sever p {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px; }

.sever p:nth-child(1) {
  opacity: 1; }

/*内容部分*/
.content {
  width: 100%;
  height: 800px; }

.content_Box {
  width: 1280px;
  height: 800px;
  margin: 0 auto; }

.content_top {
  width: 1280px;
  height: 50px;
  line-height: 50px; }

.content_top a {
  text-decoration: none;
  color: #333333;
  font-size: 12px; }

.nav {
  margin-left: 182px; }

.nav a:last-child {
  color: #ff0000; }

.nav a:last-child:hover {
  color: #333333; }

.content_Middles {
  width: 1280px; }

.content_Middle {
  width: 1280px;
  height: 750px; }

.content_Left {
  width: 550px;
  height: 750px;
  float: left;
  margin-left: 107px; }

.magnifying {
  width: 520px;
  height: 600px; }

#small {
  width: 520px;
  height: 520px;
  position: absolute;
  top: 194px;
  left: 130px; }

.small .small_Box {
  width: 100%;
  height: 100%; }

#big {
  width: 450px;
  height: 450px;
  background: url(../img/113.png) no-repeat;
  background-size: 1560px 1560px;
  position: absolute;
  top: 194px;
  left: 820px;
  display: none;
  border: 1px solid #eaeaea;
  z-index: 3; }

#mask {
  width: 150px;
  height: 150px;
  background: black;
  position: absolute;
  opacity: 0.2;
  display: none; }

.subscript {
  width: 519px;
  height: 20px;
  border-bottom: 1px solid #e6e6e6; }

.subscript {
  position: absolute;
  left: 227px;
  top: 716px; }

.glass {
  width: 485px;
  height: 90px;
  overflow: hidden;
  position: relative; }

.glass_Box {
  width: 600px;
  height: 90px;
  position: absolute; }

.glass .img_Left {
  position: relative;
  left: 0;
  top: 48px;
  z-index: 3; }

.glass .img_Right {
  position: relative;
  right: -461px;
  top: 52px;
  z-index: 3; }

.glass_List {
  list-style: none; }

.glass_List li {
  float: left;
  margin-left: 34px; }

.glass_List .list_bottom {
  width: 80px;
  height: 80px; }

.list_bottom img {
  width: 100%;
  height: 100%; }

.content_zj {
  width: 443px;
  height: 750px;
  float: left;
  border-right: 3px solid #f0f0f0; }

.zj_Top {
  width: 400px;
  height: 108px; }

.zj_Top .knitting {
  font-size: 22px;
  color: #333333; }

.zj_Top span {
  font-size: 16px;
  color: #333333; }

.zj_Top .span_One {
  color: #ff0000;
  margin-right: 10px; }

.zj_Top .money_Span {
  text-decoration: line-through; }

.zj_Top .Serial {
  font-size: 12px;
  color: #666666; }

.zj_Next {
  width: 400px;
  height: 65px; }

.Next_coat {
  width: 38px;
  height: 38px;
  border: 3px solid #ff0000; }

.Next_coat img {
  width: 38px;
  height: 38px; }

.size_International {
  width: 400px;
  height: 75px; }

.size_Top {
  padding-bottom: 10px; }

.size_Top span {
  font-size: 12px;
  color: #333333; }

.size_Top span:nth-child(2) {
  color: #333333; }

.size_Top a {
  margin-left: 180px;
  text-decoration: none; }

.size_Top .size_table {
  color: #ff0000; }

.size_nums {
  width: 47px;
  height: 32px;
  background: #ff0000;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: white;
  font-weight: 100;
  cursor: pointer; }

.number_Box {
  width: 400px;
  height: 66px; }

select {
  width: 140px;
  height: 28px;
  float: left; }

.select_Box p {
  float: left;
  margin-left: 8px;
  margin-top: 4px; }

.select_Box span {
  margin-left: 8px;
  font-size: 14px;
  color: #333333; }

.add_Car {
  width: 400px;
  height: 45px;
  position: relative; }

.add_Car a {
  text-decoration: none;
  color: white; }

.choose {
  width: 200px;
  height: 40px;
  background: #ff0000;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 40px; }

.choose:hover {
  background: black;
  cursor: pointer; }

.choose .triangle {
  position: absolute;
  right: 205px;
  top: 4px; }

.share_Bottom {
  width: 400px;
  height: 100px; }

.share_Bottom p {
  padding-top: 20px;
  font-size: 14px; }

.share_Bottom img {
  padding-left: 5px; }

.conten_Right {
  width: 157px;
  height: 750px;
  float: left; }

.right_Top {
  margin-top: 24px; }

.right_Top img {
  margin-left: 10px; }

.cocur {
  margin-left: 30px; }

.right_Content {
  width: 156px;
  height: 564px; }

.cocur_word p {
  font-size: 12px;
  color: #3b3333; }

.cocur_word span {
  font-size: 10px;
  color: #333333;
  margin-left: 20px; }

.material {
  width: 100%;
  height: 278px; }

.details {
  width: 1280px;
  height: 278px;
  margin: 0 auto; }

.details_Top {
  width: 1280px;
  height: 75px; }

.details_Top .choose {
  width: 150px;
  height: 44px;
  float: left;
  margin: 30px 22px;
  background: black; }

.details_Top .choose:hover {
  background: #ff0000; }

.details_Top img {
  float: left;
  padding-top: 50px; }

.details_Top a {
  text-decoration: none;
  color: black;
  color: white; }

.product {
  margin-left: 90px; }

.maintenance {
  width: 1280px;
  height: 203px;
  background: skyblue; }

.details .sign {
  width: 1280px;
  height: 50px;
  overflow: hidden; }

.sign p {
  font-size: 14px;
  color: #333333;
  text-align: center; }

.convenient li:nth-child(1) {
  color: #333333; }

.convenient li {
  color: #333333;
  font-size: 14px;
  margin-left: 28px; }

.Courier {
  width: 100%;
  height: 368px;
  margin: 0 auto;
  /*background: red;*/ }

.Courier_Box {
  width: 1280px;
  height: 368px;
  margin: 0 auto; }

.Courier_Top {
  width: 1280px;
  height: 50px;
  margin-left: 21px;
  /*background: orange; */ }

.Courier_Left {
  width: 495px;
  height: 50px;
  /*background: green;*/
  float: left; }

.Courier_Middle {
  float: left; }

.Courier_Left .line_Box {
  margin-top: 25px; }

.Courier_Middle p {
  margin-top: 16px;
  margin-left: 32px;
  font-size: 14px;
  color: #b0b0d3; }

.Courier_Right {
  width: 495px;
  height: 50px;
  /*background: green;*/
  float: left;
  margin-left: 32px; }

.Courier_Right .line_Box {
  margin-top: 25px; }

.Courier_Bottom {
  width: 1280px;
  height: 318px;
  /*background: skyblue;*/ }

.pay {
  width: 495px;
  height: 317px;
  /*background:yellow;*/
  float: left; }

.pay h3 {
  padding-top: 60px;
  padding-left: 152px;
  font-size: 12px;
  color: #999999; }

.pay .bank {
  margin-left: 38px;
  margin-top: 74px; }

.bank img {
  padding-left: 24px; }

.logistics {
  float: left;
  width: 190px;
  height: 317px;
  /*background: pink;*/ }

.logistics h3 {
  padding-left: 62px;
  padding-top: 58px;
  font-size: 12px;
  color: #999999; }

.shunfeng {
  margin-top: 76px; }

.shunfeng img {
  padding-left: 20px; }

.serve {
  width: 495px;
  height: 317px;
  /*background:black;*/
  float: left; }

.serve h3 {
  padding-top: 54px;
  padding-left: 214px;
  font-size: 12px;
  color: #999999; }

.customer {
  width: 495px;
  height: 247px;
  /*background: grey;*/ }

.customer_Left {
  width: 236px;
  height: 208px;
  /*background: blue;*/
  float: left; }

.telephone {
  padding-top: 56px;
  padding-left: 48px; }

.telephone p {
  padding-top: 10px; }

/*订阅邮件*/
.email {
  width: 100%;
  height: 190px; }

.email_file {
  width: 1280px;
  height: 190px;
  border-bottom: 2px dotted #cbcbcb;
  border-top: 2px dotted #cbcbcb;
  margin: 0 auto; }

.email_file .age {
  width: 640px;
  height: 190px;
  float: left; }

.age img {
  float: left; }

.subscribe {
  margin-left: 42px; }

.subscribe p {
  margin-top: 56px;
  float: left;
  margin-left: 42px;
  margin-bottom: 6px; }

.age img {
  float: left;
  margin-left: 225px;
  margin-top: 38px; }

.subscribe .address {
  background: #eaeaea;
  width: 189px;
  height: 28px;
  border: 1px solid #e5e5e5;
  border-right: none;
  outline: none;
  float: left;
  margin-left: 42px; }

.subscribe .suspended {
  border: 1px solid #f4f4f4;
  float: left;
  border-left: none;
  width: 30px;
  height: 30px;
  background: #ff0000;
  background: url(../img/35.png);
  text-indent: -1000px;
  outline: none;
  margin-right: 10px; }

.age .bar {
  width: 1px;
  height: 131px;
  float: left;
  background: url(../img/34.png);
  margin-top: -48px;
  margin-left: 38px; }

.store {
  width: 640px;
  height: 190px;
  float: left; }

.physical {
  position: relative;
  float: left; }

.physical p {
  margin-top: 56px;
  margin-left: 50px;
  margin-bottom: 6px; }

.error {
  width: 220px;
  height: 28px;
  background: #ff0000;
  color: white;
  font-size: 12px;
  line-height: 28px;
  margin-left: 50px; }

.thunder {
  position: absolute;
  left: 258px;
  top: 88px; }

.error:hover {
  background: black;
  cursor: pointer; }

.physical_right {
  float: left; }

.physical_right img {
  margin-left: 55px;
  margin-top: 30px; }

.phone {
  width: 100%;
  height: 340px; }

.wechat {
  width: 1280px;
  height: 340px;
  margin: 0 auto; }

.wechat_Left {
  width: 156px;
  height: 340px;
  margin-left: 110px;
  float: left; }

.wechat_Left .jump {
  margin-top: 58px;
  margin-bottom: 6px; }

.wechat_Left p {
  font-size: 12px;
  color: #999999;
  margin-bottom: 8px; }

.buy {
  height: 340px;
  float: left;
  margin-left: 107px; }

.buy .ulList {
  list-style: none;
  margin-top: 39px; }

.ulList li {
  line-height: 25px;
  font-size: 12px; }

li:first-child {
  color: #999999; }

.buy .ulList li:nth-child(5) {
  color: black; }

#buy1 .ulList li:nth-child(5) {
  color: #999999; }

#buy1 .ulList li:nth-child(1) {
  color: #999999; }

#buy2 .ulList li:nth-child(1) {
  color: #999999; }

#buy3 .ulList li:nth-child(1) {
  color: #999999; }

#buy4 .ulList li:nth-child(1) {
  color: #999999; }

.buy img {
  width: 17px;
  height: 17px; }

.buy ul li:hover {
  color: red;
  cursor: pointer; }

#buy2 .ulList li:nth-child(5) {
  margin-bottom: 20px; }

#buy2 .ulList li:nth-child(8) {
  margin-bottom: 20px; }

/*footer*/
.footer {
  width: 100%;
  height: 220px; }

.footer_Word {
  width: 1280px;
  height: 220px;
  background: #cccccc;
  margin: 0 auto; }

.footer_Word p {
  font-size: 12px;
  padding-top: 54px;
  padding: 0px 145px;
  line-height: 24px;
  padding-top: 48px; }

/*上海工商*/
.police {
  width: 100%;
  height: 60px; }

.Industrial {
  width: 1280px;
  height: 60px;
  margin: 0 auto; }

.Industrial_left {
  float: left;
  margin-left: 356px;
  margin-top: 22px;
  font-size: 12px; }

.Industrial_right {
  float: left;
  margin-top: 22px;
  font-size: 12px;
  margin-left: 62px; }

.Industrial_right span:nth-child(3) {
  margin-left: 22px;
  color: #999999; }

/*# sourceMappingURL=zhuce.css.map */

/*# sourceMappingURL=spxq.css.map */
